body {
}

#map {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.map-requests {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.map-controls {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.leaflet-tile {
  pointer-events: all;
}

.map-controls--open {
  transform: translateY(0%);
  transition: 0.5s;
}

.map-controls--closed {
  transform: translateY(calc(100% - 50px));
  transition: 0.5s;
}

.map-typeFilter {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: 1em;
  margin-bottom: 10px;
}

.map-control-detail {
  background-color: #fff;
  margin: 0;
  padding: 1em;
}

.map-control-detail--title {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1em;
}

.map-control-detail--title__disabled {
  text-decoration: line-through;
}

.map-control-detail-stats {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-evenly;*/
}

.map-control-detail-stats-wrapper {
  display: inline;
  margin-right: 1em;
  font-size: 1rem;
}

.map-control-detail-stats-wrapper--key {
  /*margin-right: 2em;*/
} 

.map-control-detail-stats-wrapper--key::after {
  content: ": ";
}

.map-filter {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #fff;
  z-index: 3;
  padding: 1em;
  width: 328px;
}

.map-filter h1 {
  font-size: 14pt;
}

.map-filter h2 {
  font-size: 12pt;
  color: #757575;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

.map-filter-button {
  position: absolute:
  right: 1em;
  top: 1em;
}

.map-filter-close {
  position: absolute;
  right: 1em;
  top: 1em;
}

.map-filter--open {
  transform: translateX(0%);
  transition: 0.5s;
}

.map-filter--closed {
  transition: 0.5s;
  transform: translateX(100%);
}

.map-filter-user__chip {
  margin-left: 2pt;
  margin-right: 2pt;
}

.type-filter {
  right: 1em;
  position: absolute;
}

.type-filter--disabled {
  filter: grayscale(100%);
}

.type-filter--traditional {
  animation: slide-in-a 0.5s;
  bottom: 70px;
}
.type-filter--multi {
  animation: slide-in-b 0.5s;
  bottom: 120px;
}
.type-filter--wherigo {
  animation: slide-in-c 0.5s;
  bottom: 170px;
}
.type-filter--event {
  animation: slide-in-d 0.5s;
  bottom: 220px;
}
.type-filter--earth {
  animation: slide-in-e 0.5s;
  bottom: 270px;
}
.type-filter--virtual {
  animation: slide-in-f 0.5s;
  bottom: 320px;
}
.type-filter--letterbox {
  animation: slide-in-g 0.5s;
  bottom: 370px;
}
.type-filter--cito {
  animation: slide-in-h 0.5s;
  bottom: 420px;
}
.type-filter--webcam {
  animation: slide-in-i 0.5s;
  bottom: 470px;
}
.type-filter--mystery {
  animation: slide-in-j 0.5s;
  bottom: 520px;
}

@keyframes slide-in-a {
  from {
    bottom: 1em;
    /*transform: translateY(-100%);*/
  }
  to {
    bottom: 70px;
    /*transform: translateY(100%);*/
  }
}

@keyframes slide-in-b {
  from {
    bottom: 1em;
  }
  to {
    bottom: 120px;
  }
}

@keyframes slide-in-c {
  from {
    bottom: 1em;
  }
  to {
    bottom: 170px;
  }
}

@keyframes slide-in-d {
  from {
    bottom: 1em;
  }
  to {
    bottom: 220px;
  }
}

@keyframes slide-in-e {
  from {
    bottom: 1em;
  }
  to {
    bottom: 270px;
  }
}

@keyframes slide-in-f {
  from {
    bottom: 1em;
  }
  to {
    bottom: 320px;
  }
}

@keyframes slide-in-g {
  from {
    bottom: 1em;
  }
  to {
    bottom: 370px;
  }
}

@keyframes slide-in-h {
  from {
    bottom: 1em;
  }
  to {
    bottom: 420px;
  }
}

@keyframes slide-in-i {
  from {
    bottom: 1em;
  }
  to {
    bottom: 470px;
  }
}

@keyframes slide-in-j {
  from {
    bottom: 1em;
  }
  to {
    bottom: 520px;
  }
}

.locate-me2 {
  position: absolute;
  right: 70px;
  bottom: 1em;
}
