body {
  margin: 1em;
}
#mapid {
  height: 100%;
  /*display: none;*/
}

#test {
  width: 300px;
  height: 300px;
  border: 1px solid red;
}

.mapicon {
  display: none;
}

.controls {
  position: relative;
  padding: 2em;
}
